@font-face {
    font-family: 'Gothic';
    src: url('../assets/fonts/Century\ Gothic.otf') format('truetype');
    font-style: 500;
}

@font-face {
    font-family: 'Gothic';
    src: url('../assets/fonts/Century\ Gothic\ Bold.otf') format('truetype');
    font-style: 700;
}

@font-face {
    font-family: 'Gothic';
    src: url('../assets/fonts/Century\ Gothic\ Italic.otf') format('truetype');
    font-style: 300;
}